body {
  background-color: #010a00;
  background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
  font-size: 1rem;
}

h1 {
	font-size: 300px;
	font-family:muster;
	color: white;
}
h2{
	font-size: 60px;
	font-family:muster;
	text-align: left;
	color: red;
}

h3 {
	font-size: 30px;
	font-family:muster;
	text-align: right;
	color: pink;
}

h4 {
	font-size: 20px;
	font-family:arial;
	text-align:justify;
	color: blue;
}
h5 {
	font-size: 80px;
	font-family: muster;
	text-align: center;
	color:#ffbf00;
}

:root {
  font-size: 150px
}


h6 {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-family: muster;
}

.neon {
  color: #fff;
  text-shadow:
    0 0 5px #fff,
    0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #0ff,
    0 0 80px #0ff,
    0 0 90px #0ff,
    0 0 100px #0ff,
    0 0 150px #0ff;
}