html,body {
	background-color: purple;
}

h1 {
	font-size: 70px;
	font-family: cursive;
	font-weight: bold;
}


}
.right-image {
	width: 100px;
	width:100px;
	margin: 0px 10px 0px 10px;
	float: right;
}

.left-image {
	width: 300px;
	width:300px;
	margin: 0px 10px 0px 10px;
	float: left;

}

.center-image {
	width: 450px;
	width:450px;
	margin: 0px 10px 0px 10px;
	position: center;

}
#content {
    width: 50%;
    margin: 0px auto 0px auto;
    padding: 50px 25px 100px 25px;
    float: top; 
    font-family:arial;
    size: 20px;