* {
    box-sizing: border-box;
}
html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family:avenir;
}

#navigation {
    width: 200px;
    height: 100%;
    margin: 0 10% 0 10%;
    padding: 0 10px 0 10px;
    background-color: black;
    float: left;
    position: fixed;
    z-index: 100;
}

#logo {
    color: white; 
    padding-left: 10px;
}

#logo h1 {
    margin: 0px 0px 0px 0px;
    padding: 10px 0px 10px 0px;
    font-size: 51px;
    line-height: 60px;
}

.nav-link {
    background-color: transparent;
    margin: 10px 0px 10px 0px;
    padding: 5px 5px 5px 5px;
}

.nav-link a {
    color: white;
    font-size: 25px;
    line-height: 35px; 
    text-decoration: none;
    font-size: 15px;
    letter-spacing: 2px;
}


#content {
    width: 50%;
    margin: 100px auto 100px auto;
    padding: 100px 25px 100px 25px;
    float:left;
    display: grid;
}

p {
    font-size: 15px;
    line-height: 25px;
}

#navigation.top {
    width: 100%;
    height: auto;
    padding: 10px 0px 10px 0px;
    margin: 0px 0px 0px 0px;
    display: table;
}

#navigation.top #logo {
    float: left;
}

#navigation.top #logo h1 {
    padding: 10px 10px 10px 10px;
}

#navigation.top .nav-link {
    float: left;
    margin: 15px 10px 0px 10px;

  }

  h1 {
    font-size: 70px;
    color: white;
    line-height: 45px;
  }

  .grid-container {
  display: grid;
  padding: 0px;
  padding-top: 15vh;
  }

  .gridpicture {
  background-color: white;
  border: 1px solid transparent;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  }

p {
    max-width: 1200px;
    font-size: 15px;
    text-align: center;
}