body {
  background-color: #ece5da;
  text-align: center;
}
.title {
    text-align: center;
    font-size: 50px;
    top: 20%;
    left: 50%;
    margin-right: 50%;
    transform: translate(-50%,-50%);
}
    
    h1 {
    font-family: monospace;
    font-size: 80px;
    position:center;
    text-shadow: 5px 4px 3px rgba(0,0,0,0.3); 
    }

h2{
    font-family: monospace;
    font-size: 40px;
    position:center;
    }

}
.subtitles {
    font-size: 50px;
    font-family: monospace;
    color: #FF4567;
    position: center;
}

.links {
    display: inline-block;
    font-family: monospace;
    position: absolute;
    top: 15%;
    left:43%;
}


