.title {
    text-align: center;
    font-size: 50px;
    top: 10%;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
}


.subtitles {
    font-size: 50px;
    top: 40%;
    left: 50%;
    color: #FF4567;
}

.column {
    display: inline-block;
    color: #000000;
    font-size: 30px;
    margin: 100px;
    height: 200px;
    vertical-align: top;
}

.links {
    position: absolute;
    font-size: 30px;
    top: 20%;
    left:12%;
}