body {
	margin: 0;
}

canvas { display: block; }

h1 {
	font-family: serif;
	font-size: 9vh;
	text-shadow: 2px 3px 5px #ffb33f;
	text-align: center;
}
p {
	font-family: sans-serif;
}

.mybox {
	margin: none;
	width: 100%;
	height: 100%;
	position: absolute;
}

.box1{
	width: 98%;
	height: 99%;
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000;
	position: fixed;  
}

.box2 {
	width: 96%;
	height: 98%;
	margin: auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000;
	position: fixed;
	
}

.box3 {
	width:94%;
	height:97%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px; 
	border: solid 5px  #000;
	position: fixed;
}

.box4 {
	width:92%;
	height: 96%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px  #000;
	position: fixed;
}

.box5 {
	width:90%;
	height: 95%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000;
	position: fixed;
}

.box6 {
	width:88%;
	height: 94%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000;
	position: fixed;
}

.box7 {
	width:86%;
	height: 93%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000;
	position: fixed;
}

.box8 {
	width:84%;
	height: 92%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000;
	position: fixed;
}

.box9 {
	width:82%;
	height: 91%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000;
	position: fixed;
}

.box10 {
	width:80%;
	height: 90%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000;
	position: fixed;
}

.box11 {
	width:78%;
	height: 89%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box12 {
	width:76%;
	height: 88%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px; 
	border: solid 5px #000000;
	position: fixed;
}

.box13 {
	width:74%;
	height:87%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box14 {
	width:72%;
	height: 86%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box15 {
	width:70%;
	height: 85%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box16 {
	width:68%;
	height: 84%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box17 {
	width:66%;
	height: 83%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box18 {
	width:64%;
	height: 82%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box19 {
	width:62%;
	height: 81%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box20 {
	width:60%;
	height: 80%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box21 {
	width:58%;
	height: 79%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box22 {
	width:56%;
	height: 78%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box23 {
	width:54%;
	height: 77%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box24 {
	width:52%;
	height: 76%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box25 {
	width:50%;
	height: 75%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box26 {
	width:48%;
	height: 74%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box27 {
	width:46%;
	height: 73%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box28 {
	width:44%;
	height: 72%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box29 {
	width:42%;
	height:71%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box30 {
	width:40%;
	height: 70%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box31 {
	width:38%;
	height: 69%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box32 {
	width:36%;
	height: 68%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box33 {
	width:34%;
	height: 67%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box34 {
	width:32%;
	height: 66%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box35 {
	width:30%;
	height: 65%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box36 {
	width:28%;
	height: 64%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box37 {
	width:26%;
	height: 63%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box38 {
	width:24%;
	height: 62%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box39 {
	width:22%;
	height: 61%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box40 {
	width:20%;
	height: 60%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box41 {
	width:18%;
	height: 59%; 
	margin: 0 auto;
	margin-top: 5px; 
	margin-left: 5px;

	border: solid 5px #000000;
	position: fixed;
}

.box42 {
	width:16%;
	height: 58%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}


.box43 {
	width:14%;
	height: 57%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box44 {
	width:12%;
	height: 56%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box45 {
	width:10%;
	height: 55%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box46 {
	width:8%;
	height: 54%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box47 {
	width:6%;
	height: 53%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box48 {
	width:4%;
	height: 52%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box49 {
	width:2%;
	height: 51%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

.box50 {
	width:0;
	height:50%; 
	margin: 0 auto;
	margin-top: 5px;
	margin-left: 5px;
	border: solid 5px #000000;
	position: fixed;
}

