body {
	margin: 0;
}

canvas { display: block; }

h1 {
	font-family: serif;
	font-size: 9vh;
	text-shadow: 2px 3px 5px #ffb33f;
	text-align: center;
}
p {
	font-family: sans-serif;
}

.mybox {
	margin: none;
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
}

.box1{
	width: 96%;
	height: 98%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed; 
	transition: .1s; 
	background-color: white;
}

.box2{
	width: 92%;
	height: 96%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;
	transition: .3s; 
	background-color: white;
  
 }

.box3{
	width: 88%;
	height: 94%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed;
	transition: .5s; 
	background-color: white;

 }


.box4{
	width: 84%;
	height: 92%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;  
	transition: .7s; 
	background-color: white;

}

.box5{
	width: 80%;
	height: 90%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed;  
	transition: .7s; 
	background-color: white;

 }


.box6{
	width: 76%;
	height: 88%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed; 
	transition: .9s; 
	background-color: white;


 }


.box7{
	width: 72%;
	height: 86%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed; 
	transition: 1.1s; 
	background-color: white;

}

.box8{
	width: 68%;
	height: 84%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;  
	transition: 1.3s; 
	background-color: white;
}

.box9{
	width: 64%;
	height: 82%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed; 
	transition: 1.5s;  
	background-color: white;
}

.box10{
	width: 60%;
	height: 80%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed; 
	transition: 1.7s; 
	background-color: white; 
}

.box11{
	width: 56%;
	height: 78%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed; 
	transition: 1.9s; 
	background-color: white; 
}

.box12{
	width: 52%;
	height: 76%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;  
	transition: 2.1s; 
	background-color: white;
}

.box13{
	width: 48%;
	height: 74%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed;  
	transition: 2.3s; 
	background-color: white;
}
.box14{
	width: 44%;
	height: 72%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;  
	transition: 2.5s; 
	background-color: white;
}

.box15{
	width: 40%;
	height: 70%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed; 
	transition: 2.7s; 
	background-color: white; 
}

.box16{
	width: 36%;
	height: 68%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;  
	transition: 2.9s; 
	background-color: white;
}

.box17{
	width: 32%;
	height: 66%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed; 
	transition: 3.1s;  
	background-color: white;
}

.box18{
	width: 28%;
	height: 64%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed; 
	transition: 3.3s; 
	background-color: white; 
}

.box19{
	width: 24%;
	height: 62%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed; 
	transition: 3.5s; 
	background-color: white; 
}

.box20{
	width: 20%;
	height: 60%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;
	transition: 3.7s; 
	background-color: white;  
}


.box21{
	width: 16%;
	height: 58%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed;
	transition: 3.9s;  
	background-color: white; 
}

.box22{
	width: 12%;
	height: 56%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;
	transition: 4.1s; 
	background-color: white;  
}

.box23{
	width: 8%;
	height: 54%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 5px #000;
	position: fixed;  
	transition: 4.3s; 
	background-color: white;
}

.box24{
	width: 4%;
	height: 52%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;  
	transition: 4.5s; 
	background-color: white;
}

.box25{
	width: 2%;
	height: 51%;
	margin: 0 auto;
	margin-top: .5%;
	margin-left: .5%;
	border: solid 2px #000;
	position: fixed;  
	transition: 4.7s; 
	background-color: white;
}
