body {
  background-color: #ece5da;
  text-align: center;
}
h1 {
	font-family: monospace;
	font-size: 80px;
	text-shadow: 5px 4px 0px rgba(0,0,0,0.3); 
	}

h2 { 
	font-size: 30px;
  font-family: monospace;
}

h3 {
  /* margin: 20px; */
  font-family:monospace;
  color: #202020;
  text-transform: uppercase;
  letter-spacing: -2px;
}

h3 span {
  display: block;
  margin: 11px 0 17px 0;
  font-family: monospace;
  font-size: 80px;
  line-height: 80px;
  color: #f1ebe5;
  text-shadow: 0 -2px 1px #fff,0 13px 12px #c4b59d;
  letter-spacing: -4px;
}

h4 {
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-size: 30px;
  font-family: monospace;
}

h5 {
	font-family: monospace;
  	text-shadow: 2px 2px 8px #FF0000;
  	font-size: 30px;
  	font-family: monospace;
}

h6 {
	font-size: 30px;
  text-shadow: 0 0 3px #ff00aa;
  font-family: monospace;
 }

#content {
    width: 50%;
    padding: 10px;
    border: 2px solid;
    box-shadow: 3px 5px 9px pink;
}

p {
    font-family: consolas;
    font-size: 20px; 
    position: center;    
}

.shadow7 {
	font-size: 30px;
  text-shadow:30px 10px 0 #aaa;
  font-family: monospace;
}
.shadow8 {
  color: #92a5de;
 	font-family: monospace;
 	font-size: 120px;
  text-shadow:0px 0px 0 rgb(137,156,213),1px 1px 0 rgb(129,148,205),2px 2px 0 rgb(120,139,196),3px 3px 0 rgb(111,130,187),4px 4px 0 rgb(103,122,179),5px 5px 0 rgb(94,113,170),6px 6px 0 rgb(85,104,161),7px 7px 0 rgb(76,95,152),8px 8px 0 rgb(68,87,144),9px 9px 0 rgb(59,78,135),10px 10px 0 rgb(50,69,126),11px 11px 0 rgb(42,61,118),12px 12px 0 rgb(33,52,109),13px 13px 0 rgb(24,43,100),14px 14px 0 rgb(15,34,91),15px 15px 0 rgb(7,26,83),16px 16px 0 rgb(-2,17,74),17px 17px 0 rgb(-11,8,65),18px 18px 0 rgb(-19,0,57),19px 19px 0 rgb(-28,-9,48), 20px 20px 0 rgb(-37,-18,39),21px 21px 20px rgba(0,0,0,1),21px 21px 1px rgba(0,0,0,0.5),0px 0px 20px rgba(0,0,0,.2);
}